@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-border: #000;
    --inpunt-boder: #c3c3c3;
    --gradient-break-1:#ff00dd ;
    --gradient-breal-2:#000 ;
    --main-bg:#cac4c4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:  linear-gradient(to bottom, var(--gradient-break-1), var(--gradient-breal-2));
}

main {
    padding: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:var(--main-bg);
    box-shadow:  #202020 5px 8px 30px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top:10px ;
}

.form-group > input {
    border-radius: 7px;
    border: 1px solid var(--inpunt-border);
    padding: 5px;
}

.button{
    padding: 4px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-weight: bold;
    
    cursor: pointer;
}